@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* ### Primary */

  --blue-100: hsl(225, 100%, 94%);
  --blue-700: hsl(245, 75%, 52%);

  /* ### Neutral */

  --blue-50: hsl(225, 100%, 98%);
  --gray-600: hsl(224, 23%, 55%);
  --blue-950: hsl(223, 47%, 23%);
  --purple-500: #766cf1;

  --preset-1: 28px;
  --preset-2: 22px;
  --preset-3: 16px;
  --preset-4: 15px;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --line-height-1-2: 1.35;
  --line-height3: 1.65;

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-600: 48px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--spacing-200);
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  background: url(images/pattern-background-desktop.svg) var(--blue-100)
    repeat-x;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 45rem;
  height: 69.7rem;
  background: white;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.1518);
}
.sub-details {
  margin: var(--spacing-600) var(--spacing-600) 4.3rem;
}
.text-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.text-content h1 {
  font-size: var(--preset-1);
  font-weight: var(--fw-black);
  line-height: var(--line-height-1-2);
  color: var(--blue-950);
}
.text-content p {
  font-size: var(--preset-3);
  font-weight: var(--fw-medium);
  line-height: var(--line-height3);
  color: var(--gray-600);
}
.upper-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}
.plan-section {
  padding: var(--spacing-300);
  background: var(--blue-50);
  border-radius: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-plan-section {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}
.image-plan-section p {
  display: flex;
  flex-direction: column;
  font-size: var(--preset-3);
  font-weight: var(--fw-black);
  line-height: var(--line-height3);
  color: var(--blue-950);
  text-wrap: wrap;
}
.image-plan-section p span {
  font-size: var(--preset-3);
  font-weight: var(--fw-medium);
  color: var(--gray-600);
}
.plan-section .change {
  color: var(--blue-700);
  font-size: var(--preset-3);
  font-weight: var(--fw-bold);
  line-height: var(--line-height3);
  text-decoration: underline;
}
.plan-section .change:hover {
  cursor: pointer;
  color: var(--purple-500);
}
.sub-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  align-items: center;
}
.proceed-cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
  width: 100%;
}
.proceed-cancel button {
  border-style: none;
  background: var(--blue-700);
  color: white;
  border-radius: 11px;
  width: 100%;
  height: 5rem;
  box-shadow: 0 20px 20px 0 rgba(56, 42, 225, 0.1903);
  font-size: var(--preset-3);
  font-weight: var(--fw-black);
  line-height: var(--line-height3);
  font-family: inherit;
  cursor: pointer;
  /* button must in herit */
}
.proceed-cancel button:hover {
  background: var(--purple-500);
}
.proceed-cancel p {
  color: var(--gray-600);
  font-size: var(--preset-3);
  font-weight: var(--fw-black);
  line-height: var(--line-height3);
}
.proceed-cancel p:hover {
  cursor: pointer;
  color: var(--blue-950);
}

@media (max-width: 375px) {
  .card {
    max-width: 32.7rem;
    height: 56.7rem;
    margin-inline: 2.4rem;
  }
  .image-section  {
      height: 16rem;
     
    }
  .image-section img {
    width: 100%;
    height: 100%;
}
  .text-content h1 {
    font-size: var(--preset-2);
    font-weight: var(--fw-black);
    line-height: var(--line-height-1-2);
  }
  .text-content {
    margin-inline:var(--spacing-100);
  }
  .plan-section {
    padding: var(--spacing-200);
  }

  .proceed-cancel {
    gap: var(--spacing-300);
  }
  .sub-details {
    margin: var(--spacing-400) var(--spacing-300) 2.6rem;
  }
  .upper-section {
    gap: var(--spacing-300);
  }
  .sub-details {
    gap: var(--spacing-300);
  }
  .proceed-cancel {
    gap: var(--spacing-400);
  }
  .text-content p {
  font-size: var(--preset-4);
  font-weight: var(--fw-medium);
  line-height: var(--line-height3);
}
.plan-section .change {
  font-size: var(--preset-4);
  font-weight: var(--fw-bold);
  line-height: var(--line-height3);
}
.image-plan-section p {

  font-size: var(--preset-4);
  font-weight: var(--fw-black);
  line-height: var(--line-height3);

}
.image-plan-section p span {
  font-size: var(--preset-4);
  font-weight: var(--fw-medium);
 
}
.proceed-cancel {

  gap: var(--spacing-300);

}
.proceed-cancel button {
 
 
  font-size: var(--preset-4);
  font-weight: var(--fw-black);
  line-height: var(--line-height3);
}

.proceed-cancel p {
  font-size: var(--preset-4);
  font-weight: var(--fw-black);
  line-height: var(--line-height3);
}
  
}
